.header {
  background-color: #333;
  box-shadow: #333 0px 0px 10px;
  padding: 0 100px;
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.page {
  background-color: #fafafa;
  padding-top: 50px;
}

h1 {
  color: white;
}

a {
  text-decoration: none;
}

.top {
  display: flex;
  padding: 20px 100px;
}

.top img {
  height: 400px;
  border-radius: 20px;
}

.top-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.recipe-detail-info {
  flex: 1;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-detail-category {
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

.recipe-detail-name {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.recipe-detail-stuff {
  display: flex;
  margin-top: 10px;
  gap: 30px;
}

.recipe-detail-stuff p {
  font-size: 18px;
  color: #666;
}

.ingredients {
  margin-top: 40px;
}

.ingredients h4 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.ingredients p {
  margin-top: 10px;
  text-align: center;
}

.bottom {
  padding: 20px 100px;
}

.description {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.description-text {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
